@import './vars.scss';

.title__container {
    width: 100%;
    margin-bottom: 60px;
    margin-top: 60px;

    &__textTitle {
        font-family: 'Exo 2';
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
        text-align: center;
        text-transform: uppercase;
    }
}

.projectsAll__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    justify-content: space-between;
    margin-bottom: 48px;
}

.pagination__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 128px;
}

.pagination__button {
    margin: 0 10px;
    cursor: pointer;
    font-family: 'Exo 2';
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    background-color: white;

    &.active {
        color: $colorTheme2;
    }

    &.disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    &:hover:not(.disabled):not(.active) {
        color: $colorTheme3;
    }
}

.pagination__ellipsis {
    padding: 0px 5px;
    font-family: 'Exo 2';
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    text-align: center;
}

.charity__container {
    width: 100%;
}

@media (max-width: 1000px) {
    .projectsAll__container {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        margin-bottom: 60px;
        padding: 0 25px;
    }
}

@media (max-width: 767px) {
    .title__container {
        margin: 24px 0;
        &__textTitle {
            font-size: 24px;
        }
    }
    .projectsAll__container {
        grid-template-columns: repeat(1, 1fr);
        gap: 32px;
        margin-bottom: 24px;
        padding: 0 20px;
    }
    .pagination__container {
        margin-bottom: 60px;
    }
}