.register__container {
    max-width: 996px;
    margin: 60px auto;
}
.register__title h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    padding-top: 40px;
}
.register__input__name,
.register__input__email__pass {
    margin: 0 auto;
    ul {
        max-width: 793px;
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
    }
}
.input-error {
    border-color: rgba(249, 51, 38, 1) !important;
}
.error {
    color: rgba(249, 51, 38, 1);
    font-family: 'Nunito';
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 10px;
}
.register__agreement .error {
    margin-left: 45px;
}
.register__container {
    width: 100%;
    background-color: rgba(249, 250, 251, 1);
    border-radius: 10px;
    margin: 60px auto 88px;

    .register__input__name,
    .register__input__email__pass {
        display: flex;
        justify-content: center;
        padding-top: 27px;

        label {
            display: flex;
            flex-direction: column;
            font-family: "Nunito";
            font-size: 16px;
            font-weight: 500;

            .required::after,
            .volunteer__contacts span::after {
                color: rgba(249, 51, 38, 1);
                content: "*";
                margin-left: 3px;
            }

            input {
                width: 384px;
                height: 46px;
                border-radius: 5px;
                padding: 15px;
                font-family: "Nunito";
                font-size: 12px;
                font-weight: 500;
                margin-top: 6px;
                border: 1px solid rgba(113, 113, 122, 1);
                cursor: pointer;
            }
        }
    }
}
.register__agreement {
    margin: 25px 0 0 8.6%;
    span {
        font-family: "Nunito";
        font-size: 16px;
        font-weight: 500;
        border-bottom: 1px solid rgba(35, 35, 35, 1);
        margin-left: 3px;
    }
    span:hover {
        cursor: pointer;
        color: rgba(249, 51, 38, 1);
        border-color: rgba(249, 51, 38, 1);
    }
}
.register__agreement__text {
    font-family: "Nunito";
    font-size: 16px;
    font-weight: 500;
    padding-left: 16px;
}
.register__agreement__text span:hover {
    color: #1a3d8b;
}
.register__button {
    width: 280px;
    margin: 0 auto;
    
}
.register__check {
    width: 280px;
    margin: 32px auto 0;
    border: 1px solid rgba(35, 35, 35, 1);
    display: flex;
    label {
        padding: 23px 12px;
        font-family: "Nunito";
        font-size: 16px;
        font-weight: 500;
    }
    input {
        margin-left: 17px;
    }
}
.btn__register {
    width: 281px;
    height: 50px;
    background-color: rgba(255, 130, 39, 1);
    color: rgba(248, 248, 248, 1);
    font-family: "Exo 2";
    font-size: 18px;
    font-weight: 700;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 69px auto;
    border-radius: 8px;
}
.register__have__account {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
        font-family: "Nunito";
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 281px;
        height: 48px;
        padding: 10px;
        background-color: white;
        color: rgba(255, 130, 39, 1);
        border: 2px solid rgba(255, 130, 39, 1);
        border-radius: 8px;
        font-family: "Exo 2";
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;
        margin-bottom: 40px;
    }
}

/* Скрываем стандартный чекбокс */
.register__agreement input[type="checkbox"],
.register__check input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.register__checkbox__block {
    display: flex;
    align-items: baseline;
    max-width: 450px;
}
.register__checkbox {
    width: 20px;
}
.agreement__block {
    display: flex;
    margin-left: 25px;
}

/* Создаем кастомный чекбокс */
.register__checkbox__block label::before,
.register__check label::before {
    content: "";
    display: inline-block;
    width: 17.4px;
    height: 17.4px;
    border: 1px solid #232323;
    background-color: white;
    margin-right: 10px;
    vertical-align: middle;
}

/* Стили для активного чекбокса с зелёной галочкой */
.register__check input[type="checkbox"]:checked + label::before {
    background-color: #fff; /* Цвет фона */
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 3L9 19L1 12' stroke='%231F8823' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-size: 14px 14px;
    background-position: center;
    background-repeat: no-repeat;
}
.register__agreement input[type="checkbox"]:checked + .register__checkbox__block label::before {
    background-color: #fff; /* Цвет фона */
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 3L9 19L1 12' stroke='%23232323' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-size: 14px 14px;
    background-position: center;
    background-repeat: no-repeat;
}
/* .register__btn__auth {
    width: 281px;
    height: 48px;
    padding: 10px;
    background-color: white;
    color: rgba(255, 130, 39, 1);
    border: 2px solid rgba(255, 130, 39, 1);
    border-radius: 8px;
    font-family: "Exo 2";
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    margin: 0 0 40px 0;
}

.register__btn__auth:hover {
    border: none;
    background-color: #f93326;
    color: white;
} */

@media (max-width: 768px) {
    .register__input__name ul,
    .register__input__email__pass ul {
        justify-content: center;
    }
    .register__agreement {
        margin: 30px 0 0 155px;
    }
    .register__title h2 {
        padding-top: 90px;
    }
    .register__input__name,
    .register__input__email__pass {
        input {
            max-width: 384px !important;
        }
    }
    .register__checkbox__block {
        margin-left: 20px;
    }
}
@media (max-width: 500px) {
    .register__input__name,
    .register__input__email__pass {
        input {
            max-width: 250px !important;
        }
    }
    .register__title h2 {
        font-size: 24px !important;
        width: 180px;
        margin: 25px auto;
        line-height: 36px;
        text-transform: none;
        .volunteer__br {
            display: block;
        }
    }
    .register__input__name,
    .register__input__email__pass {
        flex-direction: column;
        width: 256px;
        margin: 0 auto;
        padding-top: 0;
        gap: 17px !important;
    }
    .register__agreement {
        margin: 30px 0 0 10%;
        span, p {
            font-size: 14px;
            margin-left: 0;
            padding-bottom: 5px;
        }
        span {
            margin-left: 3px;
        }
    }
    .btn__register,
    .register__have__account button {
        font-size: 16px;
        width: 260px;
        height: 48px;
        margin: 25px auto;
    }
    .register__agreement__text {
        width: 50px;
        display: flex;
        flex-direction: column;
        label {
            text-align: center;
        }
    }
    .register__checkbox {
        width: 50px;
    }

    .register__check {
        width: 200px;
    }
    .register__agreement {
        margin: 30px 0;
    }
    .register__checkbox__block {
        align-items: center;
        justify-content: center;
        margin-left: 0;
    }
    .agreement__block p, .agreement__block span  {
        font-size: 12px;
    }
    .agreement__block {
        margin-left: 0;
        flex-direction: column;
    }
}
@media (max-width: 320px) {
    .agreement__block {
        flex-direction: column;
    }
}