@import '../../style/vars.scss';

.rowProjectItem {
	display: flex;
	align-items: center;
	gap: 44px;
	margin-bottom: 44px;
	flex-direction: row;

	&.reverse {
		flex-direction: row-reverse;
	}

	&__imgBox {
		position: relative;
		border-radius: 10px;
		overflow: hidden;
		max-width: 511px;
		width: 100%;
		height: 300px;

		&__img {
			width: 100%;
			border-radius: 10px;
		}

		&__text {
			font-family: 'Nunito';
			position: absolute;
			width: 100%;
			max-height: 88px;
			bottom: 0;
			background-color: $colorTheme;
			color: #fff;
			font-weight: 700;
			font-size: 16px;
			color: #232323;
			padding: 16px;
			border-radius: 0 0 10px 10px;
			display: flex;
			align-items: center;
		}
	}

	&__textBox {
		max-width: 510px;
		width: 100%;
		max-height: 222px;
		display: flex;
		flex-direction: column;
		justify-content: center;

		&__desc {
			font-family: 'Nunito';
			font-weight: 500;
			font-size: 16px;
			color: #232323;
			margin-bottom: 24px;
			line-height: 21.82px;
			display: -webkit-box;
			-webkit-line-clamp: 9;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: pre-wrap;
		}

		&__link {
			max-width: 115px;
			font-family: 'Nunito';
			font-size: 16px;
			font-weight: 500;
			line-height: 22px;
			color: $colorTheme2;
			text-decoration: none;
			border-bottom: 1px solid $colorTheme;
			cursor: pointer;

			&:hover {
				color: $colorTheme3;
			}
		}
	}
}

@media (max-width: 1000px) {
	.rowProjectItem {
		gap: 25px;
		&__imgBox {
			min-width: 410px;
			max-height: 300px;
			&__img {
				height: auto;
				object-fit: contain;
			}
			&__text {
				min-height: 66px;
			}
		}
		&__textBox {
			// width: 460px;
		}
	}
}

@media (max-width: 767px) {
	.rowProjectItem {
		display: flex;
		flex-direction: column !important;
		gap: 0px;
		&__imgBox {
			max-width: 511px;
			max-height: 400px;
			&__img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
			&__text {
				font-size: 14px;
				min-height: 63px;
			}
		}
		&__textBox {
			width: 100%;
			padding: 10px;
			max-height: 370px;
			&__desc {
				font-size: 14px;
				margin-bottom: 0;
			}
			&__link {
				margin-top: 10px;
				font-size: 14px;
			}
		}
	}
}

@media (max-width: 576px) {
	.rowProjectItem {
		&__imgBox {
            min-width: 200px;
			max-height: 300px;
		}
	}
}

