@import '../../../style/vars.scss'; 

.help__button {
    height: auto;
    // width: 27.5%;
    padding: 14px 77px;
    font-family: 'Exo 2';
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    border-radius: 8px;
    background-color: $colorTheme2;

    &:hover {
        color: #f8f8f8;
        background-color: $colorTheme3;
    }

    &:active {
        background-color: #d9610b;
    }
}

@media (max-width: 1000px) {
    .help__button {
        // width: 25.2%;
        padding: 14px 55px;
    }    
}

// @media (max-width: 767px) {
//     .help__button {
//         width: 21%;
//         // padding: 13px 22px 14px;
//     }    
// }

// @media (max-width: $sizeWidthPadMid) {
//     .help__button {
//         width: auto;
//         padding: 13px 22px 14px;
//     }    
// }

@media (max-width: 576px) {
    .help__button {
        width: 100%;
    }    
}

