$colorTheme: #ffd43c;
$colorTheme2: #ff8227;
$colorTheme3: #f93326;
$colorTheme4: #232323;
$colorTheme5: #71717A;
$colorWhite: #fff;
$backgroundTheme: #f8f8f8;
$backgroundTheme2: #f9fafb;

$sizeWidthDefault: 1048px;
$sizeWidthDefaultBig: 1200px;

$sizeWidthPadMax: 940px;
$sizeWidthPadMid: 700px;

$sizeWidthPhoneMax: 500px;
$sizeWidthPhoneMid: 360px;
$sizeWidthPhoneSmall: 256px;